<button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Regresar</button>
<br>
<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <div class="form-group">
            <label class="obligatorio">*Obligatorio</label>
                <label for="nombreUsuario">Nombre(s) <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>person</mat-icon></font></span>
                    </div>
                    <input  type="text" class="inputt" placeholder="Nombre" id="nombre" name="nombre" [(ngModel)]="nombreUsuario" required autocomplete="off">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="apellidosUsuario">Apellido(s)</label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>person</mat-icon></font></span>
                    </div>
                    <input class="inputt" type="text" placeholder="Apellido" id="apellido" name="apellido" [(ngModel)]="apellidosUsuario" required autocomplete="off">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="correoUsuario">Correo <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>mail</mat-icon></font></span>
                    </div>
                    <input  type="email" class="inputt" placeholder="Correo" id="correo" name="correo" [(ngModel)]="correoUsuario" required autocomplete="off">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="passwordUsuario">Contraseña <font color="red">*</font></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>key</mat-icon></font></span>            
                    </div>
     
                    <input  type="password" class="inputt" placeholder="Crear contraseña" id="pwd" name="pwd" [(ngModel)]="passwordUsuario" required autocomplete="off">
                    </div>
            </div>  
    
            <!--
            <div class="form-group">
                <label for="">Cargo <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>home_repair_service</mat-icon></font></span>
                    </div>
                    <input  type="text" class="inputt" placeholder="Tu cargo en la empresa" name="registroCargoAd">
                    
                </div> --> 
    
            </div>
            <br>  
            <div class="botones">
                <button class="btn btn-light active text-danger" type="reset">Borrar <i class="fa-solid fa-delete-left"></i></button>
            <br>
         <button class="btn btn-primary btn-lg" type="submit" [disabled]="!f.valid"><i class="far fa-plus-square"></i> Enviar</button>
    </div>
</form>

<!--
<form>
    <div class="form-group">
            <label class="obligatorio">*Obligatorio</label>
                <label for="nombreUsuario">Nombre(s) <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>person</mat-icon></font></span>
                    </div>
                    <input  type="text" class="inputt" placeholder="Nombre" required="">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="apellidosUsuario">Apellido(s)</label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>person</mat-icon></font></span>
                    </div>
                    <input class="apellido" type="text" class="nobligatorio" placeholder="Apellido">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="correoUsuario">Correo <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>mail</mat-icon></font></span>
                    </div>
                    <input  type="email" class="inputt" placeholder="Correo" required placeholder="Te falta digitar el correo electronico." >
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="passwordUsuario">Contraseña <font color="red">*</font></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>key</mat-icon></font></span>            
                    </div>
     
                    <input  type="password" class="inputt" placeholder="Crear contraseña" id="pwd" required="">
                    </div>
            </div>  
    
            <div class="form-group">
                <label for="">Cargo <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><mat-icon>home_repair_service</mat-icon></font></span>
                    </div>
                    <input  type="text" class="inputt" placeholder="Tu cargo en la empresa" name="registroCargoAd">
                    
                </div> 
    
            </div>
            <br>  
            <div class="botones">
                <button class="btn btn-light active text-danger" type="reset">Borrar <i class="fa-solid fa-delete-left"></i></button>
            <br>
         <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
    </div>
</form>
--> 