a {
    margin-top: 5px;
    margin-left: 15px;
}
/*
h2{
    text-align: inherit;
} */

h1 {
    margin-left: 15px;
}

.logo{
     padding: 5px;
     margin-right: 120px;
     width: 25%;
     background: #252121;
}

.barra {
    background: #252121;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Estilo de tabla*/
.listavacia {
    background-color:#252121 ;
    color: white;
    width: 1000px;
    height: 500px;
    align-items: center;
}

table, .div-boton {
    width: 900px;
}

table, .div-boton a {
    margin-top: -3px;
}

.busqueda {
    margin-top: 35px;
    margin-left: 15px;
    height: 45px;
    width: 400px;
    border-radius: 5px;
}

th, td {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

th {
    font-size: 18px;
}

td:hover {
    color: #ccc606;
}