<form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
    <label for="nombreUsuario">Nombre:</label>
    <input type="text" id="nombreUsuario" formControlName="nombreUsuario">

    <label for="apellidosUsuario">Apellidos:</label>
    <input type="text" id="apellidosUsuario" formControlName="apellidosUsuario">

    <label for="correoUsuario">Correo Electrónico:</label>
    <input type="email" id="correoUsuario" formControlName="correoUsuario">

    <label for="passwordUsuario">Contraseña:</label>
    <input type="password" id="passwordUsuario" formControlName="passwordUsuario">

    <label for="tipo_documento">Tipo de Documento:</label>
    <select id="tipo_documento" formControlName="tipo_documento">
        <option value="Cedula de ciudadania">Cedula de ciudadania</option>
        <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
    </select>

    <label for="numero_documento">Número de Documento:</label>
    <input type="number" id="numero_documento" formControlName="numero_documento">

    <label for="telefono">Teléfono:</label>
    <input type="number" id="telefono" formControlName="telefono">

    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
    <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento">

    <label for="direccion_vivienda">Dirección de Vivienda:</label>
    <input type="text" id="direccion_vivienda" formControlName="direccion_vivienda">

    <label>Cambio de Documento:</label>
    <label><input type="radio" formControlName="cambio_documento" value="Acepto"> Acepto</label>
    <label><input type="radio" formControlName="cambio_documento" value="No acepto"> No acepto</label>

    <button type="submit" [disabled]="!registroForm.valid">Resgistrar</button>
</form>
