<body>
    <app-encabezado></app-encabezado>
    <div class="row">
        <div class="barra-lateral col-6 col-sm-auto">
            <app-nav-admin></app-nav-admin>
        </div>
        <main class="main col">
            <h1>Gestión de asistencias de mineros:</h1>
            <br />
            <input type="text" class="busqueda" placeholder="Buscar por nombre o número de documento"
                (input)="buscarAsistencias($event)">
            <a type="button" class="btn btn-info text-white btn-lg" (click)="registrarAsistencia()">Registrar asistencia
                <mat-icon>person_add</mat-icon></a>
            <br />
            @if (dividirRegistrosFecha().hoy.length > 0) {
            <h2>Hoy:</h2>
            @for (item of dividirRegistrosFecha().hoy.length > 0; track $index) {
            <div class="pokemon-list"> <!-- ; track $index -->
                <div class="datos-admin">
                    <strong>Nombre completo:</strong>
                    <p> {{item.minero.usuario.nombreUsuario}} {{item.minero.usuario.apellidosUsuario}}</p>
                    <strong>Número de documento:</strong>
                    <p> {{item.minero.numero_documento}}</p>
                    <strong>Fecha del turno:</strong>
                    <p>{{ item.FechaTurno }}</p>
                    <strong>Asignación de Tareas:</strong>
                    <p>{{ item.AsignacionTareas }}</p>
                    <strong>Asistencia:</strong>
                    <p>{{ item.Asistencia }}</p>
                    <button class="btn btn-warning" type="button"
                        (click)="editarAsistencia(item.idTurno)"><mat-icon>edit</mat-icon> Editar asistencia</button>
                    @if (item.novedad && item.novedad.idNovedad && item.Asistencia === 'Nó asistió') {
                    <button class="btn btn-info" type="button"
                        (click)="verNovedad(item.novedad.idNovedad)"><mat-icon>add</mat-icon> Ver novedad</button>
                    }
                </div>
            </div>
                }
            }
            <br>
            @if (dividirRegistrosFecha().anteriores.length > 0) {
                <h2>Anteriores:</h2>
                @for (item of dividirRegistrosFecha().anteriores.length > 0; track $index) {
                <div class="pokemon-list">
                    <div class="datos-admin">
                        <strong>Nombre completo:</strong>
                        <p> {{item.minero.usuario.nombreUsuario}} {{item.minero.usuario.apellidosUsuario}}</p>
                        <strong>Número de documento:</strong>
                        <p> {{item.minero.numero_documento}}</p>
                        <strong>Fecha del turno:</strong>
                        <p>{{ item.FechaTurno }}</p>
                        <strong>Asignación de Tareas:</strong>
                        <p>{{ item.AsignacionTareas }}</p>
                        <strong>Asistencia:</strong>
                        <p>{{ item.Asistencia }}</p>
                        <button class="btn btn-warning" type="button"
                            (click)="editarAsistencia(item.idTurno)"><mat-icon>edit</mat-icon> Editar asistencia</button>
                        @if (item.novedad && item.novedad.idNovedad && item.Asistencia === 'Nó asistió') {
                        <button class="btn btn-info" type="button"
                            (click)="verNovedad(item.novedad.idNovedad)"><mat-icon>add</mat-icon> Ver novedad</button>
                        }
                    </div>
                </div>
                }
            }
        </main>
    </div>
    <app-pie></app-pie>
</body>
<router-outlet />