.lista-asistencias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 10px;
    padding: 10px;
}

.lista-asistencias, h1 {
    text-align: center;
    margin-top: 40px;
}

.datos-admin {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #fbfab0;
    border-radius: 5px;
    border: 1px solid #2a2a2a;
}

.datos-admin strong,
.datos-admin p {
    font-size: 15px;
}

.datos-admin .btn-warning {
    margin-right: 2%;
    margin-bottom: 5px;
}

.visibi {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 0;
}

.div-acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-acciones .busqueda {
    width: 400px;
    height: 40px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
}

.rojo {
    color: red;
}