<mat-dialog-content class="mat-typography">
    <p class="h1" align="center">Orocol</p>
    <br>
    <h3 mat-dialog-title>¿Quienes somos?:</h3>
    <p mat-dialog-title>Somos una empresa dedicada a la extracción y comercialización de oro en el mercado
        nacional e internacional, siendo la empresa de exportación de oro ubicada en San Martín,
        un pequeño pueblo situado al otro lado del río Magdalena en Colombia.</p>
    <br>
    <h3 mat-dialog-title>Sitio web:</h3>
    <p mat-dialog-title>Este es un sistema de información está diseñado para solucionar y mejorar la gestión
        de los procesos operativos de Orocol y mejorar la eficiencia y productividad de la empresa.
        Los procesos operativos que maneja este sitio web son:
        procesos de ventas, proceso de compras, control y seguimiento a las exportaciones, gestión
        de novedades de empleados.</p>
    <br>
    <h3 mat-dialog-title>Manual de usuario:</h3>
    <p mat-dialog-title>Para más información consulte nuestro manual de usuario en la opción "Manual usuario"
        o haz click <a mat-dialog-close routerLink="/manual_usuario">aquí</a> para verlo.</p>
    <br>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn btn-dark btn-lg" mat-dialog-close>Cerrar</button>
    <br>
    <br>
</mat-dialog-actions>