h1{
    margin-top: 3px;
    color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 
 h3{
    left: -250px;
    position: relative;
    float: left;
    color: white;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
 .logo{
    padding: 15px;
    margin-right: 120px;
    width: 35%;
    background: #010101;
} 

.barra {
   background: #010101;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 0;
   z-index: 5;
}

.dropdown-menu {
    margin: 17px;
    background: #010101;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menuperfil {
    color: white;
}

.menuperfil:focus {
    background: #aea023;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}
.menuperfil:hover{
    background-color: #aea023;
}

.cerrar:hover {
    background-color: #a49123;
}

.user {
    font-size: 40px;
    padding: 10px;
}

table{
    background-color:#010101 ;
    color: white;
    width: 650px;
}

.my-button {
    padding: 10px ;
    background-color: #010101;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}

.my-button:hover {
    background-color: #aea023;
}

.my-button:active {
    background-color: #aea023;
}

@media screen and (max-width:1300px) {

    .barra {
        min-width: auto;
    }
}

@media screen and (max-width:575px) {
    .dropdown-menu {
        margin: 20px -78px 0px;
    }
    .logocppe {
        width: 100%;
    }
}



@media screen and (max-width:575px) {
    .dropdown-menu {
        margin: 20px -78 0px;
    }
}