<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img class="imagen" src="/assets/images/logo-orocol.jpg" alt="Logo de Orocol" />
                    <br>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu">
                    <ul>
                        <li><img class="perfil" src="/assets/images/perfil_usuario.jpg" alt="Tu perfil de usuario" /></li>
                        <li>Nombre Usuario Nombre Usuario</li>
                        <li><a type="button" class="btn btn-outline-dark btn-lg" (click)="cerrar()">Cerrar sesión
                                <mat-icon>logout</mat-icon></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>