.fullscreen-div {
  background: #f9f9db;
  height: 1650px;
}

/* INICIO */
.logo,
.imagen {
  max-width: 18rem;
  margin-left: -30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  padding: 10px 0;
  background-color: #010101;
}

.menu .imagenlogo {
  visibility: hidden;
  max-width: 1rem;
}

.menu {
  margin-top: 20px;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}

a {
  color: #fff;
}

.menu ul li a {
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
}

.menu ul li a:hover {
  color: rgb(239, 244, 83);
  transition: 0.6s ease-in-out;
}

@media only screen and (max-width: 1212px) {

  .logo,
  .imagen {
    max-width: 12rem;
    margin-left: 2px;
    margin-left: 5px;
  }

  h1 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 912px) {

  h1 {
    padding-top: 100px;
  }

  .menu {
    position: fixed;
    right: -280px;
    top: 64px;
    width: 287px;
    height: 100%;
    background: #010101;
    z-index: 12;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  .menu .imagenlogo {
    visibility: visible;
    max-width: 12rem;
    margin-right: 50px;
    margin-top: 50px;
  }

  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid #312f2f;
  }

  .menu_icon {
    display: inline-block;
    position: relative;
    right: 0;
    top: 30px;
  }

  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #fff;
    display: block;
    transition: 0.2s ease-in-out;
  }

  .menu_icon {
    cursor: pointer;
  }

  .menu_icon_Class span:nth-child(2) {
    display: none;
  }

  .menu_icon_Class span:nth-child(1) {
    transform: rotate(40deg);
  }

  .menu_icon_Class span:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }

  .menuClass {
    right: 0;
    transition: 0.4s ease-in-out;
  }

  .colorClass {
    background: #888874
  }
}

/* FIN */

h1 {
  text-align: center;
  margin-top: 15px;
  font-size: 40px;
}

/* Carousel */
/* Estilos generales del carrusel */
.d-item {
  height: 500px;
}

.d-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  padding-bottom: 20px;
}

.una-caja {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  width: 50%;
  padding: 20px;
  border: 4px double #f7f738;
  background-color: #f9f9b2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article p {
  color: #28283b;
  font-size: 23px;
}