<body [class.colorClass]="color">
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img class="imagen" src="/assets/images/logo-orocol.jpg" alt="Logo de Orocol" />
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" [class.menu_icon_Class]="menu_icon_variable" (click)="abrirMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li>¿Quienes somos?</li>
            <li><i class="fas fa-download"></i> Manual Usuario</li>
            <li><a routerLink="/registro"><i class="fas fa-user-plus"></i> Registrarse</a></li>
            <li><a routerLink="/iniciar_sesion"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
          </ul>
          <img class="imagenlogo" src="/assets/images/orocol.png" alt="Orocol" />
        </div>
      </div>
    </div>
  </div>
</header>
  <br/>
  <br/>
  <br/>
  <h1>Te damos la bienvenida a {{ titulo }}</h1>
  <br/>
  <br/>
  <br/>
  <div id="Id_Intro" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button data-bs-target="#Id_Intro" data-bs-slide-to="0" class="active" 
      aria-label="Slide 1"></button>
      <button data-bs-target="#Id_Intro" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button data-bs-target="#Id_Intro" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item active d-item">
        <img src="assets/images/barra-de-oro.jpg" class="d-block w-100 d-img" alt="Slider 1">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">
            Oro de la mejor calidad
          </p>
          <h2 class="display-1 fw-bolder text-capitalize">Adquirir producto</h2>
          <a href="https://api.whatsapp.com/send?phone=573242232662"><button class="btn btn-warning px-5 py-2 fs-5 mt-5">Contáctenos</button></a>
        </div>
      </div>

      <div class="carousel-item d-item">
        <img src="assets/images/extraccion.jpg" class="d-block w-100 d-img" alt="Slider 2">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">
            Trabajamos día y noche para hacer llegar nuestros productos
          </p>
          <h2 class="display-1 fw-bolder text-capitalize">Adquirir producto</h2>
          <a href="https://api.whatsapp.com/send?phone=573242232662"><button class="btn btn-warning px-5 py-2 fs-5 mt-5">Contáctenos</button></a>
        </div>
      </div>

      <div class="carousel-item d-item">
        <img src="assets/images/truck.jpg" class="d-block w-100 d-img" alt="Slider 3">
        <div class="carousel-caption top-0 mt-4">
          <p class="mt-5 fs-3 text-uppercase">
            Exportación nacional e internacional
          </p>
          <h2 class="display-1 fw-bolder text-capitalize">Adquirir producto</h2>
          <a href="https://api.whatsapp.com/send?phone=573242232662"><button class="btn btn-warning px-5 py-2 fs-5 mt-5">Contáctenos</button></a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#Id_Intro" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" data-bs-target="#Id_Intro" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button> 
  </div> 
<br/>
<a routerLink="/iniciar_sesion" type="button" class="btn btn-info btn-lg">Ingresar</a>
<br/>
<br/>
<br/>
</body>
<app-pie />

<script src="./header.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>


<router-outlet />
<!-- 
    <a routerLink="/">Home</a>
    <a routerLink="/user">User</a>
--> 