.fullscreen {
    background-color: rgb(252, 248, 181);
    height: 150%;
}

.table-responsive {
    background-color: white;
    width: 1000px;
}

table, .div-boton {
    width: 1400px;
}

.busqueda {
    margin-top: 20px;
    margin-left: 15px;
    height: 45px;
    width: 400px;
}

th, td {
  padding-left: 10px;
}

td button {
    margin-right: 6px;
}

a {
    margin-top: 5px;
    margin-left: 10px;
}

h1 {
    text-align: center;
}