body {
    background-color: rgb(252, 248, 181);
}

table, .div-boton {
    width: 1400px;
}

.busqueda {
    margin-top: 20px;
    margin-left: 370px;
    height: 45px;
    width: 400px;
}

th, td {
  padding-left: 10px;
}

th {
    font-size: 18px;
}

td button {
    margin-right: 6px;
}

a {
    margin-top: 5px;
    margin-left: 10px;
}