.caja {
    padding-top: 10px;
    border: solid 1px #474735;
    margin: 0;    
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffed;
    flex-direction: column;   
    border-radius: 5px; 
}

.inputt {
    width: 300px;
    border-radius: 5px;
}

.inputt:hover,.inputt:focus, .inputt:valid {
    border: solid 1px #eaf600;
    transition: all 2s ease;
}

.labell {
    font-size: 20px;
}

.form-check-input { 
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.form-check-label {
    font-size: 15px;
    color: white;
}

.botones {
    display: flex;
    justify-content: center;
}