.caja {
    padding-top: 10px;
    border: solid 1px #bdbd93;
    margin: 0;    
}

.input-group-text {
    margin-left: 70px;
}

.inputt {
    width: 250px;
}

.labell {
    font-size: 20px;
}

.form-check-input {
    margin-right: 5px;
}