.radios{
    padding-top: 50px;
    text-align: center;
    gap: 2rem;
    font-size: 25px;
}

.radios label {
    margin-right: 20px;
}

.radios label:hover{
  color: #c79603;
  transition: 0.4s ease-in-out;
}

.radios label input:hover{
  cursor: pointer;
}

.div-centrar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-centrar-radios {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}