<body>
    <app-encabezado></app-encabezado>
    <div class="row">
        <div class="barra-lateral col-6 col-sm-auto">
            <app-nav-admin></app-nav-admin>
        </div>
        <main class="main col">
            <div class="radios">
                <label>
                    <input type="radio" name="tipoUsuario" value="Administrador" [(ngModel)]="tipoUsuario"> Como
                    administrador
                </label>
                <label>
                    <input type="radio" name="tipoUsuario" value="Minero" [(ngModel)]="tipoUsuario">
                    Como empleado (Minero)
                </label>
            </div>
            <div>
            @if (tipoUsuario === 'Administrador') {
            <app-ver-administradores></app-ver-administradores>
            } </div>
            <div>
            @if (tipoUsuario === 'Minero') {
            <app-ver-mineros></app-ver-mineros>
            }</div>
        </main>
    </div>
    <app-pie></app-pie>
</body>
<router-outlet />