.fotosperfiles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #030303;
    object-fit: cover;
    margin-top: 10x;
    margin-bottom: 5x;
}

.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 10px;
    padding: 10px;
}

.pokemon-list, h1 {
    text-align: center;
}

.datos-admin {
    background-color: #f8a557;
    border-radius: 5px;
    box-shadow: 3px 4px #404040;
}

.datos-admin strong, .datos-admin p{
    font-size: 20px;
}/* 
Muy buenas tardes señora Kelly, soy Joshua Sebastian Cruz Fierro, aprendiz del Sena del Centro de Gestión de Mercados Logística y Tecnologías de la Información en el programa ADSO (Análisis y desarrollo de software).

Me comunico ya que me enteré de que fui aplicado a esta empresa en el SGVA y me encuentro muy interesado en continuar el proceso de contrato de aprendizaje con ustedes, me intenté comunicar por el número telefónico que está registrado pero no fue posible.

Espero atentamente su respuesta, muchas gracias por su atención

Adjunto mí hoja de vida:
*/