<mat-dialog-content class="mat-typography cuerpo">
    <div class="caja">
        <br />
        <h1>Detalle de la venta</h1>
        <div class="detalle-compra">
            <strong>Producto:</strong> 
            <p>{{ compra.salidaVentas.entrada?.producto?.TipoOro }}</p>
            <strong>Nombre del comprador:</strong> 
            <p>{{ compra.NombreCompleto }}</p>
            <strong>Empresa:</strong> 
            <p>{{ compra.Empresa }}</p>
            <strong>País:</strong> 
            <p>{{ compra.Pais }}</p>
            <strong>Ciudad/Municipio:</strong> 
            <p>{{ compra.CiudadMunicipio }}</p>
            <strong>Fecha de exportacion:</strong> 
            <p>{{ compra.FechaExportacion }}</p>
            <strong>Peso del oro:</strong> 
            <p>{{ compra.salidaVentas.PesogrOro }}</p>
            <strong>Estado de la compra:</strong> 
            <p>{{ compra.estadoCompra }}</p>
            <br />
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="boton">
    <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()" mat-button>Cerrar</button>
</mat-dialog-actions>
