<mat-dialog-content class="mat-typography">
    <div class="divformulario">
        <br />
        <h1>Crear novedad</h1>
        <br />
        <form [formGroup]="novedadForm" (ngSubmit)="registrarNovedad()">
            <label for="descripcion">Novedad:</label>
            <textarea id="comentarios" placeholder="Escribe una brebe descripción de la razón de tu inasistencia."
                name="comentarios" rows="5" cols="50" formControlName="descripcion">
            </textarea>
            <div class="div-boton">
                <button type="submit" class="btn btn-primary" cdkFocusInitial>Registrar novedad</button>
            </div>
        </form>
        <br />
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()" mat-button>Cancelar</button>
</mat-dialog-actions>