table, .div-boton {
    width: 1500px;
}

.btn {
    margin-left: 5px;
}

.div-boton a {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}

.table-responsive {
    background-color: white;
    max-width: 1000px;
}

th, td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  