<mat-dialog-content class="mat-typography cuerpo">
    <div class="caja">
        <h2>Solicitudes de reactivación para ingreso al sistema:</h2>
    </div>
    @for (item of solicitudList; track $index) {
    <div class="caja">
        @if (item.usuario.estadoUsuario === 'inactivo') {
        <hr>
        <div class="solicitudes">
            <strong>Nombre</strong>
            <p> {{item.usuario.nombreUsuario}} {{item.usuario.apellidosUsuario}}</p>
            <strong>Correo:</strong>
            <p> {{item.usuario.correoUsuario}} </p>
            <strong>Descripción de la solicitud:</strong>
            <p>{{ item.descripcionSolicitud }}</p>
        </div>
        <hr>
        }
    </div>
    }
</mat-dialog-content>
<mat-dialog-actions align="center" class="boton">
    <button type="button" class="btn btn-danger" (click)="cancelar()" mat-button>Cancelar</button>
</mat-dialog-actions>