<mat-dialog-content class="mat-typography">
    <div class="col-md-5">
        @for (item of solicitudList; track $index) {
            @if (item.usuario.estadoUsuario === 'inactivo') {
            <div class="datos-admin">
                <br>
                <strong>Nombre</strong>
                <p> {{item.usuario.correoUsuario}} {{item.usuario.apellidosUsuario}}</p>
                <strong>Correo:</strong>
                <p> {{item.usuario.correoUsuario}} </p>
                <strong>Descripción de la solicitud:</strong>
                <p>{{ item.descripcionSolicitud }}</p>
            </div>
            <br />
            <hr>
            <br />
            }
        }
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
</mat-dialog-actions>
