<form (ngSubmit)="registrarUsuario()">

    <div class="form-group">
        <label class="obligatorio">*Obligatorio</label>
        <label for="nombreUsuario">Nombre(s) <font color="red">*</font></label>
        <div class="input-group">

            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white">
                    <font color="white"><mat-icon>person</mat-icon></font>
                </span>
            </div>
            <input autocomplete="off" type="text" class="inputt" placeholder="Nombre" required name="nombreUsuario" [(ngModel)]="nombreUsuario">
        </div>
    </div>

    <div class="form-group">
        <label for="apellidosUsuario">Apellido(s)</label>
        <div class="input-group">

            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white">
                    <font color="white"><mat-icon>person</mat-icon></font>
                </span>
            </div>
            <input autocomplete="off" class="inputt nobligatorio" type="text" placeholder="Apellido" 
                name="apellidosUsuario" [(ngModel)]="apellidosUsuario">
        </div>

    </div>

    <div class="form-group">
        <label for="correoUsuario">Correo <font color="red">*</font></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white">
                    <font color="white"><mat-icon>mail</mat-icon></font>
                </span>
            </div>
            <input autocomplete="off" type="email" class="inputt" placeholder="Correo" required
                placeholder="Correo electronico." name="correoUsuario" [(ngModel)]="correoUsuario">
        </div>
    </div>

    <div class="form-group">
        <label for="passwordUsuario">Contraseña <font color="red">*</font></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white">
                    <font color="white"><mat-icon>key</mat-icon></font>
                </span>
            </div>

            <input autocomplete="off" type="password" class="inputt" placeholder="Crear contraseña" id="pwd" 
                required name="passwordUsuario" [(ngModel)]="passwordUsuario">
        </div>
    </div>

    <div class="form-group">
        <label for="">Cargo <font color="red">*</font></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white">
                    <font color="white"><mat-icon>home_repair_service</mat-icon></font>
                </span>
            </div>
            <input autocomplete="off" type="text" class="inputt" required placeholder="Tu cargo en la empresa"
                name="cargoAdmin" [(ngModel)]="cargoAdmin">
        </div>
    </div>
    <br>
    <div class="botones">
        <button class="btn btn-primary btn-lg" type="submit">Registrarse <mat-icon>person_add</mat-icon></button>
        <button class="btn btn-light active text-danger" type="reset">Borrar formulario</button>
    </div>
</form> 
