<div class="fullscreen">
    <app-encabezado></app-encabezado>
    <div class="div-alineador">
        <div class="barra-lateral">
            <app-nav-admin></app-nav-admin>
        </div>
        <div class="div-info-usuarios">
            <article class="informacion-usuarios">
                <br>
                <app-perfil-usuario></app-perfil-usuario>
                <br>
                <div class="info">
                    <h1>Administrador</h1>
                    <h2>{{ administrador.usuario.nombreUsuario }} {{
                        administrador.usuario.apellidosUsuario }}</h2>
                    <br>
                    <strong>Cargo:</strong>
                    <p>{{ administrador.cargoAdmin }}</p>
                    <strong>Correo:</strong>
                    <p>{{ administrador.usuario.correoUsuario }}</p>
                    <strong>Estado:</strong>
                    <p>{{ administrador.usuario.estadoUsuario }}</p>
                </div>
                <br>
                <hr>
                <br>
                <a class="btn btn-lg btn-warning text-white"
                    [routerLink]="['/editar_administrador/', administrador.idAdmin]">Actualizar datos personales</a>
                <br>
                <hr>
                <br>
                <app-editar-password></app-editar-password>
                <br>
            </article>
        </div>
    </div>
    <app-pie></app-pie>
</div>
<router-outlet />