@media screen and (max-width:575px) {
    body {
        font-size: 16px;
        overflow: visible;
    }
}



@media screen and (max-width:575px) {
    body {
        font-size: 16px;
        overflow: visible;
    }
}

/*MAIN*/
 
 .main {
     padding-top: 40px;
 }
 
 .main .columna {
     padding-left: 40px;
     padding-right: 40px;
 }
 