<body>
    <app-encabezado></app-encabezado>
        <div class="row">
            <div class="barra-lateral col-6 col-sm-auto">
                <app-nav-admin></app-nav-admin>
            </div>
            <main class="main col">
                <div class="row justify-content-center align-content-center text-center">
                    <div class="columna col-lg-6">
                        <br>
                        <br>
                        <article class="informacion-usuarios">
                            <br>
                            <app-perfil-usuario></app-perfil-usuario>
                            <br>
                            <h2>Administrador {{ administrador.usuario.nombreUsuario }} {{ administrador.usuario.apellidosUsuario }}</h2>
                            <ul>
                              <li><strong>Cargo:</strong> {{ administrador.cargoAdmin }}</li>
                              <li><strong>Correo:</strong> {{ administrador.usuario.correoUsuario }}</li>
                              <li><strong>Estado:</strong> {{ administrador.usuario.estadoUsuario }}</li>
                            </ul> 
                            <br>
                        </article>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </main> 
        </div> 
    <app-pie></app-pie>
</body>
<router-outlet />