.fullscreen-div {
    background-color: rgb(247, 250, 213);
    height: 950px;
}

form .form-group .input-group .inputt{
    margin-top: 20px;
    margin-bottom: 40px;
}

span {
    margin-top: 20px;
    padding-bottom: 6px;
}

form {
    width: 40%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid 1px #000000;
}

form .form-group label {
    font-size: 20px;
}

.card-header {
    font-size: 25px;
}

.form-check-input {
    margin-right: 10px;
}