	<!--=====================================
	=           	pie de página  	       =
	======================================-->
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Estamos en</h3>
                    <ul>
                        <li><p >En el pueblo de San Martín, situado cerca del río Magdalena en Colombia.</p></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Acerca de</h3>
                    <ul>
                        <li><a href="#">Políticas y privacidad</a></li>
                        <li><a href="#">Aspectos legales</a></li>
                        <li><a href="https://www.google.com/maps/place/San+Mart%C3%ADn,+Pinillos,+Bol%C3%ADvar/@8.9671949,-74.2812971,14.71z/data=!4m6!3m5!1s0x8e5e84e8fb44c347:0xc83975d58e975d2e!8m2!3d8.96665!4d-74.28337!16s%2Fg%2F1w4f94nz?entry=ttu">Mapa del sitio</a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=573242232662">Contáctenos</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.snapchat.com/es"><i class="fab fa-snapchat-ghost"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <p class="copyright">Todos los derechos reservados © 2023</p>
                </div>
            </div>
        </div>
    </footer>