<body>
    <app-encabezado></app-encabezado>
    <div class="row">
        <div class="barra-lateral col-6 col-sm-auto">
            <app-nav-minero></app-nav-minero>
        </div>
        <main class="main col">
            <div class="row justify-content-center align-content-center text-center">
                <div class="columna col-lg-6">
                    <br>
                    <br>
                    <article class="informacion-usuarios">
                        <br>
                        <app-perfil-usuario></app-perfil-usuario>
                        <br>
                        <h2>Minero {{ minero.usuario.nombreUsuario }} {{ minero.usuario.apellidosUsuario }}
                        </h2>
                        <ul>
                            <li><strong>Correo:</strong> {{ minero.usuario.correoUsuario }}</li>
                            <li><strong>Estado:</strong> {{ minero.usuario.estadoUsuario }}</li>
                            <li><strong>Tipo de documento:</strong> {{ minero.tipo_documento }}</li>
                            <li><strong>Número de documento:</strong> {{ minero.numero_documento }}</li>
                            <li><strong>Número de teléfono:</strong> {{ minero.telefono }}</li>
                            <li><strong>Fecha de nacimiento:</strong> {{ minero.fecha_nacimiento }}</li>
                            <li><strong>Dirección de vivienda:</strong> {{ minero.direccion_vivienda }}</li>
                            <li><strong>Cambio de documento:</strong> {{ minero.cambio_documento }}</li>
                        </ul>
                        <br>
                        <hr>
                        <br>
                        <a class="btn btn-lg btn-warning text-white" [routerLink]="['/editar_minero/', minero.IdMinero]">Actualizar datos personales</a>
                        <br> 
                        <hr>
                        <br>
                        <app-editar-password></app-editar-password>
                        <br>
                        <hr>
                        <br>
                        <button class="btn btn-danger text-white" type="button"
                            (click)="inactivarUsuarioPropio(minero.usuario.idUsuario)"><mat-icon>manage_accounts</mat-icon> Inactivar cuenta</button>
                    </article>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </main>
    </div>
    <app-pie></app-pie>
</body>
<router-outlet />