<mat-dialog-content>
    <h1>Editar asistencia</h1>
    @if (novedadForm) {
    <form [formGroup]="novedadForm" (ngSubmit)="editarNovedad()">

        <label for="descripcion">Novedad:</label> 
        <textarea id="comentarios" name="comentarios" rows="4" cols="50" formControlName="descripcion" >
        </textarea>
        <br>
        <button type="submit" class="btn btn-warning" cdkFocusInitial>Editar</button>
    </form>
    }
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
</mat-dialog-actions>