<div class="caja">
    @if (imagenPreviaUrl) {
        <img class="foto-perfil" [src]="imagenPreviaUrl" alt="Tu perfil" />
    }
    @if (!imagenPreviaUrl) {
        <img class="foto-perfil" [src]="imagenPerfilUrl" alt="Tu perfil" />
    }
    <br>
    <input class="input-file" type="file" (change)="onFileSelect($event)" accept="image/*" />
    <br>
    @if(mostrarCambiarFoto) {
    <button [disabled]="!fotoPerfil" class="btn btn-warning text-light" (click)="subirFoto()"><mat-icon>upload_file</mat-icon> Cambiar
        de foto</button>
    } @else {
    <button [disabled]="!fotoPerfil" class="btn btn-primary" (click)="subirFoto()"><mat-icon>image</mat-icon> Subir foto</button>
    }
</div>