p {
    color: rgb(68, 122, 248);
    font-size: 30px;
    text-align: center;
} 

.fullscreen {
    background-color: #010101;
    height: 1500px;
}

h1 {
    color: white;
    margin-left: 15px;
}

.colombia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colombia img {
    width: 200px;
    height: 200px;
}

.fullscreen {
    height: 1550px;
}