<body>
    <app-encabezado></app-encabezado>
        <div class="row">
            <div class="barra-lateral col-6 col-sm-auto">
                <app-nav-admin></app-nav-admin>
            </div>
            <main class="main col">
                <h1>Grafica de ingresos de compras hechas:</h1>
                <div style="width: 80%; margin: auto;">
                    <canvas id="myChart"></canvas>
                </div>
                <br>
                @if(volumenTotalOro !== null) {
                    <p>Volumen total de oro comprado: {{ volumenTotalOro }}gr de oro.</p>
                } @else() {
                    <p style="color: red;">{{ error }}</p>
                }
                <br>
                <h1>Grafica de total de oro en venta:</h1>
                <br>
                <div style="width: 80%; margin: auto;">
                    <canvas id="myChartSales"></canvas>
                </div>
                <br>
            </main>
        </div>
    <app-pie></app-pie>
</body> 
<router-outlet />