<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
    <a routerLink="/administrador"><mat-icon>account_circle</mat-icon><span> Datos personales</span></a>
    <a routerLink="/gestionar_usuarios"><mat-icon>group</mat-icon><span> Gestionar usuarios</span></a>
    <a routerLink="/productos"><mat-icon>category</mat-icon><span> Gestionar productos </span></a>
    <a routerLink="/ventas"><mat-icon>storefront</mat-icon><span> Gestión de ventas</span></a>
    <a routerLink="/compras"><mat-icon>shopping_cart</mat-icon><span> Gestionar compras</span></a>
    <a routerLink="/ver_asistencias"><mat-icon>edit_note</mat-icon><span> Ver asistencias</span></a>
    <a routerLink="/indicadores_financieros"><mat-icon>attach_money</mat-icon><span> Indicadores financieros</span></a>
    <br />
    <br />
    <br />
    <br />
    <br />
</nav>
