<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
    <a routerLink="/administrador"><i class="fas fa-user text-white"></i><span>Datos personales</span></a>
    <a routerLink="/editar_administrador"><i class="fas fa-user text-white"></i><span>Gestion Usuarios</span></a>
    <a routerLink="/ventas"><i class="fas fa-cart-plus text-white"></i><span>Gestion de ventas</span></a>
    <a routerLink="/compras"><i class="fas fa-users text-white"></i><span>Gestion clientes</span></a>
    <a routerLink="/productos"><i class="fas fa-box-open text-white"></i><span>Gestion Productos </span></a>
    <a routerLink="/novedades"><i class="fas fa-bell text-white"></i><span>Ver Novedades</span></a>
</nav>  
