<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
    <a routerLink="/minero"><mat-icon>account_circle</mat-icon><span> Datos personales</span></a>
    <a routerLink="/asistencias"><mat-icon>edit_note</mat-icon><span> Ver asistencias</span></a>
    <a routerLink="/ventas"><mat-icon>storefront</mat-icon><span> Gestión de ventas</span></a>
    <a routerLink="/productos"><mat-icon>category</mat-icon><span> Ver productos </span></a>
    <br />
    <br />
    <br />
    <br />
    <br />
</nav>  
<!--
<body>
    <app-encabezado></app-encabezado>
        <div class="row">
            <div class="barra-lateral col-6 col-sm-auto">
                <app-nav-minero></app-nav-minero>
            </div>
            <main class="main col">
                
            </main>
        </div>
    <app-pie></app-pie>
</body> 
<router-outlet />
-->