.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 1%);
    object-fit: cover;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 15px;
}