<div class="container-fluid">
    <div class="col-8 barra">
        <nav class="stilnav">
            <ul>
                <li><a href="viewMin.html"><img src="LOGO.jpg" alt="" class="logo" ></a></li>
            </ul>
    </nav>
    </div>
        <div class="col-4 text-right barra">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="#" class="px-3 text-light perfil dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle user"></i></a>

                    <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                        <a class="dropdown-item menuperfil cerrar" href="#"><i class="fas fa-sign-out-alt m-1"></i>Salir
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
<h1>¡Bienvenido Minero!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a href="productosMin.html"><i class="fas fa-home"></i><span>Productos</span></a>
                <a href="comprayventaMin.html"><i class="fas fa-home"></i><span>Gestion Ventas</span></a>
                <a href="clientesMin.html"><i class="fas fa-home"></i><span>Gestion Clientes</span></a>
            </nav>
        </div>
        <main class="main col">
            <div class="row justify-content-center align-content-center text-center">
                <div class="columna col-lg-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3> Selecione una opcion a gestionar</h3>
                </div>
            </div>

        </main>
    </div>
</div>