<body>
    <header>
        <img class="logo" src="/assets/images/logo-orocol.jpg" alt="Orocol">
        <button id="abrir" class="abrirMenu"><i class="bi bi-list"></i></button>
        <nav id="menu" class="menuPrincipal">
        <button id="cerrar" class="cerrarMenu"><i class="bi bi-three-dots"></i></button>
            <ul class="listaMenu">
                <li><a href=""><i class="fas fa-arrow-left"></i> Regresar</a></li>
            </ul>
        </nav>
    </header>
    <form class="form" name="login" class="login" action="/login" method="post">
        <h1>Iniciar Sesión</h1>
        <label>Correo</label><br>
        <input type="text" required placeholder="Correo electronico" pattern=".*\S+.*" title="Campo obligatorio" id="usuario" minlength="4" maxlength="20">
        <span class="error-message" id="usuario-error">Campo obligatorio (4-20 caracteres)</span><br>
        
        <label>Contraseña</label><br>
        <input type="password" required placeholder="Digite su contraseña" pattern=".*\S+.*" title="Campo obligatorio" id="contrasena" minlength="6" maxlength="15">
        <span class="error-message" id="contrasena-error">Campo obligatorio (6-15 caracteres)</span><br>
        
        <button class="btn btn-dark btn-lg" type="submit">Ingresar <mat-icon>arrow_forward</mat-icon></button>
    </form>
    
    <app-pie></app-pie>
</body>
<router-outlet />