.logo {
    max-width: 22rem;
    margin-left: 4px;
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #010101;
  }
  .listaMenu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .listaMenu li a {
    text-decoration: none;
    color: rgb(206, 227, 247);
    font-size: 25px;
    margin-left: 12px;
  }
  
  .abrirMenu, .cerrarMenu {
    display: none;
  }
  
  p {
    margin: 15px;
    padding: 15px;
    font-size: 20px;
  }
.a
{
    background:#ffffff;color:white; font-family: 'montserrat', sans-serif;
}

/*formulario de registro*/

form {
width:500px;
padding:16px;
height:60vh;
background:#000000cd;
border-radius:10px;
margin:auto;
box-shadow:0 0 40px -10px rgb(160, 146, 45);
margin:calc(50vh - 220px) auto;
padding:20px 30px;
max-width:
calc(100vw - 40px);
box-sizing:border-box;
font-family:'Montserrat',sans-serif;
position:relative;
}



h1 {
    color:#ffffff; 
text-align: center;
font-size: 30px;
}

input { 
width:100%;
padding:5px;
box-sizing:border-box;
background:none;
outline:none;
resize:none;
border:0;
font-family:'Montserrat',sans-serif;
transition:all .3s;
border-bottom:2px solid #ffffff; 
color: white;
}

input:focus {
border-bottom:2px solid #aea023
}

label {
content:attr(type);
display:block;
margin:28px 0 0;font-size:14px;
color:#ffffff;
font-size: 20px;
}
body {
    background: url(/assets/images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

input[type="submit"] {
    background-color: #000000cd; 
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 6px; 
    width: 100px;
    border: 1px solid white;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(250, 253, 39);
    color: rgb(0, 0, 0); 
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

@media only screen and (max-width: 912px) {
  .logo {
    max-width: 12rem;
    margin-left: 2px;
  }

  .listaMenu li a {
      font-size: 25px;
      margin-left: 8px;
  } 
}