<body>
<header>
    <img class="logo" src="../../../assets/img/logo-orocol.jpg" alt="Orocol">
    <button id="abrir" class="abrirMenu"><i class="bi bi-list"></i></button>
    <nav id="menu" class="menuPrincipal">
    <button id="cerrar" class="cerrarMenu"><i class="bi bi-three-dots"></i></button>
        <ul class="listaMenu">
          <li><a href=""><mat-icon class="icono">home</mat-icon> Regresar</a></li>
        </ul>
    </nav>
</header>
<br><br><br>
<br> 
    <br>
    <br>
    <form class="form" name="login" class="login" action="/login" method="post" >
        <div>
            <h2>Ingrese su correo y contraseña</h2>
        </div>
        <div class="content">
            <p type="Usuario">
            <input type="email" name="loginCorreo" required placeholder="Digite su correo electronico">
            </p>
            <p type="contraseña"><input type="password" name="loginPassword" required placeholder="Digite su contrasena"></p>	
        </div>
 
        <div >
            <input style=" border:2px solid #ffffff;background:0;color:#ffffff;cursor:pointer"  type="submit" class="Enviar">
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
<app-pie></app-pie>
</body>