<body>
    <header>
        <img class="logo" src="/assets/images/logo-orocol.jpg" alt="Orocol">
        <button id="abrir" class="abrirMenu"><i class="bi bi-list"></i></button>
        <nav id="menu" class="menuPrincipal">
        <button id="cerrar" class="cerrarMenu"><i class="bi bi-three-dots"></i></button>
            <ul class="listaMenu">
                <li><a href=""><i class="fas fa-arrow-left"></i> Regresar</a></li>
            </ul>
        </nav>
    </header>
    <form class="form login" (ngSubmit)="iniciarSesion()">
        <h1>Iniciar Sesión</h1>
        <label>Correo</label><br>
        <input type="email" name="correoUsuario" [(ngModel)]="correoUsuario" required placeholder="Correo electrónico">
        
        <label>Contraseña</label><br>
        <input type="password" name="passwordUsuario" [(ngModel)]="passwordUsuario" required placeholder="Digite su contraseña">
        <br/>
        <button class="btn btn-dark btn-lg" type="submit">Iniciar sesión <mat-icon>arrow_forward</mat-icon></button>
    </form>      
    
    <app-pie></app-pie>
</body>
<router-outlet /> 