p {
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}

.a {
  background: #ffffff;
  color: white;
  font-family: 'montserrat', sans-serif;
}

/*formulario de registro*/

form {
  width: 500px;
  padding: 16px;
  height: 85vh;
  background: #000000da;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 40px -10px rgb(160, 146, 45);
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width:
    calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}



h1 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}

.inputt {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #ffffff;
  color: white;
}

.inputt:focus {
  border-bottom: 2px solid #aea023
}

.labbel {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #ffffff;
  font-size: 20px;
}

body {
  background: url(/assets/images/magdalena.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150%;
}

.btn-outline-dark {
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 30%;
  margin-bottom: 20px;
}

.btn-link {
  text-decoration: none;
  margin-left: 27%;
}

.btn-link:hover {
  color: #ffffff;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: none;
}