form{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    gap: 1rem;
    border: 1px solid #b6b6b6;
    position: relative;
    border-radius: 5px;
}

form label, h1, p { 
    color: #000;
}

p {
    font-size: 12px;
}

form input {
    width: 90%;
    height: 40px;
    border: none;
    outline: 0px;
    border-bottom: 1px solid #030303;
}

form input:hover, form select:hover,
form input:focus, form select:focus {
    border-bottom: 1px solid #e4d900;
}

.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .boton button {
    width: 40%;
}