<mat-dialog-content class="mat-typography">
    <div class="divformulario">
        <h1>Agregar venta</h1>
        <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">
            <label for="valorQuilates">Número de quilates:</label>
            <input type="number" formControlName="valorQuilates" placeholder="Número de quilates del oro"  autocomplete="off">
            <p>Recuerda que la cantidad maxima de quilates es 24 (oro 100% puro)</p>
            <br />
            <div class="boton">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="!productoForm.valid" cdkFocusInitial>Agregar +</button>
            </div>
        </form> 
        <br /> 
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()" mat-button>Cancelar X</button>
</mat-dialog-actions>