
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 h1 {
    color: white;
    margin-left: 2%;
    margin-top: 1%;
 }

 body {
  background-image: url("../../../assets/img/bakground_2.jpg");
  background-repeat: no-repeat;
  background-size: cover  
}
 
 .logo{
   padding: 5px;
   margin-right: 120px;
   width: 25%;
   background: #252121;
 }
 
 .perfil {
   max-width: 200px;
   height: auto;
   margin-left: 2%;
   border-radius: 50%; /* Aplicar un borde redondeado para que la imagen se vea circular */
 }
 
 p {
    font-size: 16px;
    line-height: 1.5;
 }
 
 a {
    text-decoration: none;
    color: #007bff;
 }
 
 .logo{
   padding: 5px;
   margin-right: 120px;
   width: 25%;
   background: #252121;
 }
 
 .barra {
  background: #252121;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 
 .dropdown-menu {
   margin: 17px;
   background: #252121;
   color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
 }
 
 .menuperfil {
   color: white;
 }
 
 .menuperfil:focus {
   background: #aea023;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
 }
 
 .cerrar:hover {
   background-color: #a49123;;
 }
 
 .user {
   font-size: 40px;
   padding: 10px;
 }
 
 h2 {
   margin-left: 2%;
 }
 
 
 .my-button {
   padding: 10px 60px;
   background-color: #aea023;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 
 .my-button:hover {
   background-color: #252121;
 }
 
 .my-button:active {
   background-color: #252121;
 }
 
 .my-button {
    padding: 10px ;
    background-color: #252121;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
 }
 
 .my-button:hover {
    background-color: #aea023;
 }
 
 .my-button:active {
    background-color: #aea023;
 }
 form {
   padding: auto;
 }
 form label {
   margin-left: 2%;
 }
 
 input {
   text-decoration: none;
   text-decoration-line: none;
   border: none;
   border-bottom: 1px solid white; /* Cambiar el color de la línea según el fondo */
   background-color: transparent; /* Hacer el fondo del input transparente */
   width: 500px;
   margin-left: 2%;
 }
 form button {
   margin-left: 2%;
   width: 120px;
   background-color: #252121;
   color: white
 }
 
 
 
 @media screen and (max-width: 800px) {
   .left, .main, .right {
     width: 100%;
   }
 }
 
 /* Agrega más estilos según sea necesario */