<mat-dialog-content>
    <div class="divformulario">
        <h1>Agregar venta: <mat-icon>shopping_cart</mat-icon></h1>
        <form [formGroup]="ventaForm" (ngSubmit)="crearVenta()">
            <label for="numero_documento">Número de Documento:</label>
            <input type="number" placeholder="Número documento de usuario minero" formControlName="numero_documento" required>

            <label for="TipoOro">Tipo de Oro:</label>
            <select id="TipoOro" formControlName="TipoOro">
                <option value="" class="select-document">Selecciona un tipo de oro</option>
                @for (item of productList; track $index) {
                    <option value={{item.TipoOro}}>{{item.TipoOro}}</option>
                }
            </select>

            <label for="fechaExtraccionOro">Fecha Extracción Oro:</label>
            <input type="date" formControlName="fechaExtraccionOro" required>

            <label for="precioOro">Precio Oro:</label>
            <input type="number" placeholder="precio del oro en venta" formControlName="precioOro" required>

            <label for="cantidad">Cantidad:</label>
            <input type="number" placeholder="cantidad de oro en piezas" formControlName="cantidad" required>
            <br />
            <div class="divboton">
                <button type="submit" class="btn btn-primary" cdkFocusInitial>Registrar Venta</button>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button type="button" class="btn btn-danger" (click)="cancelar()" mat-button>Cancelar</button>
</mat-dialog-actions>