<div class="col-md-5">
    <div class="card">
        <div class="card-header">
            Agregar venta
        </div>
        <div class="card" class="card-body">
            <form method="post" action="" class="form">
                <div class="mb-3">
                    <label for="" class="form-label">Fecha Exportacion de Oro</label>
                    <input type="date" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Seleccione la fecha de la extarccion de oro">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Precio del Oro</label>
                    <input type="number" class="form-control" name="" id=""
                        aria-describedby="helpId" placeholder="Digite el precio del Oro">
                </div>
                <input name="" id="" class="btn btn-primary"
                    style="background-color: white; color:black;" type="submit" value="Agregar +">
            </form>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
