/* INICIO FOMULARIO*/

form{
    width: 40%;
    height: 80%;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2%;
    gap: 1rem;
    background-color: #f3f894;
    border-radius: 10px;
    position: relative;
}

form .form-group {
    padding-left: 30px;
}

form .inputt, form select{
    width: 90%;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: 0px;
    border-bottom: 1px solid #2f47f9;
    height: 45px;
    color: #000;
}

form select option{
    color: #000;
}

form input:hover, form select:hover{
    content: '';
    padding-left: 15px;
    border-bottom: 1px solid #ffb700;
    color: #041ac5;
    transition: all 2s ease;
}

form .form-group {
    margin-left: -20px;
}

form button{
    width: 90%;
}

form select{
    background-color: transparent;
}
/* FIN FOMULARIO*/