<body>
    <app-encabezado></app-encabezado>
    <h1>Editar datos propios</h1>
    @if (mineroForm) {
    <form [formGroup]="mineroForm" (ngSubmit)="editarMinero()">
        <label for="nombreUsuario">Nombre(s): <font color="red">*</font></label>
        <input type="text" formControlName="nombreUsuario" id="nombreUsuario">

        <label for="apellidosUsuario">Apellido(s):</label>
        <input type="text" formControlName="apellidosUsuario" id="apellidosUsuario">

        <label for="correoUsuario">Correo electrónico: <font color="red">*</font></label>
        <input type="text" formControlName="correoUsuario" id="correoUsuario">

        <label for="tipo_documento">Tipo de documento: <font color="red">*</font></label>
        <select id="tipo_documento" formControlName="tipo_documento">
            <option value="Cedula de ciudadania">Cédula de ciudadanía (C.C)</option>
            <option value="Cedula de extranjeria">Cédula de extranjería (C.E)</option>
        </select>

        <label for="pwd">Número de documento: <font color="red">*</font></label>
        <input type="number" formControlName="numero_documento">

        <label for="pwd">Número de teléfono: <font color="red">*</font></label>
        <input type="number" id="telefono" formControlName="telefono">

        <label for="pwd">Fecha de nacimiento: <font color="red">*</font></label>
        <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento">

        <label for="usuario">Dirección de vivienda: <font color="red">*</font></label>
        <input type="text" id="direccion_vivienda" formControlName="direccion_vivienda">

        <div class="form-group">
            <label>¿Acepta que el administrador del sistema pueda editar su documento de identidad?</label>
            <div class="form-check">
                <label><input type="radio" formControlName="cambio_documento" value="Acepto"> Acepto</label>
            </div>
            <div class="form-check">
                <label><input type="radio" formControlName="cambio_documento" value="No acepto"> No acepto</label>
            </div>
        </div>
        
        <button type="submit" class="btn btn-warning" cdkFocusInitial [disabled]="!mineroForm.valid">Editar usuario</button>
    </form>
    }
    <a class="btn btn-danger btn-lg" routerLink="/minero">Cancelar</a>
    <app-pie></app-pie>
</body>
<router-outlet />