<body>
    <header>
        <img class="logo" src="../../../assets/img/logo-orocol.jpg" alt="Orocol">
        <button id="abrir" class="abrirMenu"><i class="bi bi-list"></i></button>
        <nav id="menu" class="menuPrincipal">
        <button id="cerrar" class="cerrarMenu"><i class="bi bi-three-dots"></i></button>
            <ul class="listaMenu">
              <li><a href=""><mat-icon class="icono">home</mat-icon> Regresar</a></li>
            </ul>
        </nav>
    </header>
    <br><br><br>
    <div class="container-fluid">
    <div class="container py-5">
    <div class="div-titulo">
    <h1>Registrate como administrador:</h1></div> 
    <br>
    <div class="contenedor">
        <div class="div-formulario">
        <h3>Por favor digite sus datos</h3><br>
        <br>
    <br>
    <form class="" method="post" action="/rutas">
        <br>
           <div class="form-group">
            <label class="obligatorio">*Obligatorio</label>
                <label for="usuario">Nombre(s) <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><i class="fa-solid fa-user"></i></font></span>
                    </div>
                    <input  type="text" class="inputt" placeholder="Nombre" name="registroNombreAd" required="">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="usuario">Apellido(s)</label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><i class="fa-solid fa-user"></i></font></span>
                    </div>
                    <input class="apellido" type="text" class="nobligatorio" placeholder="Apellido" name="registroApellidoAd">
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="correo">Correo <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><i class="fa-solid fa-envelope"></i></font></span>
                    </div>
                    <input  type="email" class="inputt" placeholder="Correo" name="registroCorreoAd" required placeholder="Te falta digitar el correo electronico." >
                    
                </div>
    
            </div>
    
            <div class="form-group">
                <label for="pwd">Contraseña <font color="red">*</font></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><i class="fas fa-lock"></i></font></span>            
                    </div>
     
                    <input  type="password" class="inputt" placeholder="Crear contraseña" id="pwd" required="" name="registroContrasennaAd">
                    <input type="hidden" name="idUsuario" value="">
                    </div>
            </div> 
    
            <div class="form-group">
                <label for="usuario">Cargo <font color="red">*</font></label>
                <div class="input-group">
    
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white"><font color="white"><i class="fa-solid fa-user-tie"></i></font></span>
                    </div>
                    <input  type="text" class="inputt" placeholder="Tu cargo en la empresa" name="registroCargoAd" required="">
                    
                </div>
    
            </div>
            <br>  
            <div class="botones">
                <button class="btn btn-light active text-danger" type="reset">Borrar <i class="fa-solid fa-delete-left"></i></button>
            <br>
            <br>
                <button class="btn btn-primary btn-lg" type="submit">Enviar     <i class="fa-solid fa-paper-plane"></i></button>
            <br>
            <br>
            </div>
            <br>
            <br>
            <br>
            <br>
        </form>
            <br>
            <br>
            <br>
    </div>
    </div>
    </div>
    </div>
    <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
</body>