<script src="https://kit.fontawesome.com/77d1bc0f2a.js" crossorigin="anonymous"></script>
<body>
    <header>
        <img class="logo" src="../../../assets/img/logo-orocol.jpg" alt="Orocol">
        <button id="abrir" class="abrirMenu"><i class="bi bi-list"></i></button>
        <nav id="menu" class="menuPrincipal">
            <button id="cerrar" class="cerrarMenu"><i class="bi bi-three-dots"></i></button>
            <ul class="listaMenu">
                <li><a href=""><mat-icon class="icono">home</mat-icon> Regresar</a></li>
            </ul>  
        </nav>
    </header>
    <br><br><br>
    <div class="container-fluid">
        <div class="container py-5">
            <div class="div-titulo">
                <h1>Registrate como administrador:</h1>
            </div>
            <br>
            <div class="contenedor">
                <div class="div-formulario">
                    <h3>Por favor digite sus datos</h3><br>
                    <br>
                    <br>
                    <div>
                        <label>
                            <input type="radio" name="tipoUsuario" value="Administrador" [(ngModel)]="tipoUsuario"> Administrador
                        </label>
                        <label>
                            <input type="radio" name="tipoUsuario" value="Trabajador" [(ngModel)]="tipoUsuario"> Trabajador
                        </label>
                    </div>

                    <div *ngIf="tipoUsuario === 'Administrador'">
                        <!-- Formulario para el tipo de usuario Administrador -->
                        <app-formulario-administrador></app-formulario-administrador>
                    </div>

                    <div *ngIf="tipoUsuario === 'Trabajador'">
                        <!-- Formulario para el tipo de usuario Trabajador -->
                        <app-formulario-minero></app-formulario-minero>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
